 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.7px;
}
    .main-container{
        width: 300px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
    }
        .nav-menu{
            position: relative;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 50px;
            border-radius: 3px;
            color: #7d7988;
            display: flex;
            align-items: center;
            cursor: pointer;

        }
            .i_menu{
                font-size: 18px;
                top: 12px;
                left: 20px; 
            }
            .i_arrow{
                font-size: 14px;
                right: 14px;
                transition: 0.5s;
            }
            .i_mail{
                transform: scaleY(0.85);
            }

            .i_home{
                transform: scaleY(1.12);
            }            

.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.95);
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255,0.9);
}
 .dropdown{
    box-sizing: border-box;
    margin-left: 54px;
    padding-top: 3px; 
    display: flex;
    color: #7d7988;
} 
  
