 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.7px;
}
    .main-container{
        width: 300px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
    }
        .nav-menu{
            position: relative;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 50px;
            border-radius: 3px;
            color: #7d7988;
            display: flex;
            align-items: center;
            cursor: pointer;

        }
            .i_menu{
                font-size: 18px;
                top: 12px;
                left: 20px; 
            }
            .i_arrow{
                font-size: 14px;
                right: 14px;
                transition: 0.5s;
            }
            .i_mail{
                transform: scaleY(0.85);
            }

            .i_home{
                transform: scaleY(1.12);
            }            

.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.95);
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255,0.9);
}
.dropdown{
    box-sizing: border-box;
    margin-left: 54px;
    padding-top: 3px; 
    display: flex;
    color: #7d7988;
} 
.submenu{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    cursor: pointer;
}
.submenu-items{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    height: 49px;
    border-bottom: 1px solid rgba(125, 121, 135, 0.25);
}
.submenu :nth-child(1){
    border-radius: 3px 3px 0 0;
}
.submenu :nth-child(3){
    border-radius: 0 0 3px 3px;
    height: 50px;
}

.submenu-items:hover{
    background-color: rgba(255, 255, 255, 0.85);
    border-left: solid 4px #3ea6fd;
}
.submenu-items:hover a{
    margin-left: 50px;
}
.submenu-items:hover i{
    left: 16px;
}

.submenu-items > i{
    left: 20px;
}
.triangle{
    width: 0px;
    height: 0px;
    margin-left: 271px;
    border-top: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 11px solid rgba(255, 255, 255, 0.9);
    border-right: 11px solid transparent;
}
i{  
    position: absolute;
    font-size: 20px;
    z-index: 1;
    color: #7d7988;
}

.user-data{
    position: absolute;
    left: 70%;
    top: 30%;
    width: 300px;
    height: 300px;
    background-color: rgba(38, 41, 82, 0.19);
    
}

.btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.user-container{
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: red;
}

.user-number{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: darkblue;
}
