 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.main-container{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

